/**
* VARIABLES
*/
$black: rgb(22, 22, 25);
$white: #ffffff;
$fontLato: 'Lato', sans-serif;
/**
* GENERAL
*/
body {
  color: $black;
  box-sizing: border-box;
  font-family: $fontLato;
}

h1 {
  color: $black;
  font-family: $fontLato;
}

h2{
  color: $white;
  font-family: $fontLato;
}

hr{
  border-top: solid 1px $black;
}
/**
* LCD ELEMENTS
*/
.lcd{
  margin-bottom: 40px;
  min-height: 200px;
  border-radius: 24px;
  background-color:$black;

  @media (max-width: 999px){
    margin-bottom: 20px;
  }
  
  &__num-card{
    width: 70px;
    height: 120px;
    margin: 12px;
    background-color:$black;
  }
  //number background
  &__true{
    background-color: $white;
  }

  //vertical lcd-lines
  &__line-vertical{
    height: 40px;
  }

  &__dot-vertical{
    width: 5px;
    border-radius: 12px;
  }

  //horizontal lcd-lines
  &__line-horizontal{
    width: 70px
  }

  &__dot-horizontal{
    height:5px;
    margin: 3px 0;
    border-radius: 6px;
  }
}

.nan-card{
  width: 0px;
}

/**
* UI
*/
.ui{
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }

  &__input{
    border: 2px solid $black;
    border-radius: 15px;
    padding-left:10px;
    width:100%;
    color:$black;
  }
  &__input_short{
    border: 2px solid $black;
    border-radius: 15px;
    padding-left:10px;
    width: 50px;
  }
}